@import "tailwindcss";

body {
  background: #0f0f10;
  color: #fff;
}

input,
textarea {
  color: black;
  background-color: white;
}

select option {
  color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
